pkgbase = amplify
	pkgdesc = Sound Effects Soundboard with PipeWire/PulseAudio virtual mic routing
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/Sage563/Amplify
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python>=3.10
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = pipewire
	depends = pipewire-pulse
	optdepends = pulseaudio-utils: alternative to pipewire-pulse for paplay/pactl
	source = amplify-1.1.1.tar.gz::https://github.com/Sage563/Amplify/archive/v1.1.1.tar.gz
	sha256sums = SKIP

pkgname = amplify
